.create-new-item .panel-heading {
  cursor: pointer;
  padding: 0; }
  .create-new-item .panel-heading:hover {
    background: #e0e0e0; }
.create-new-item a {
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block; }
.create-new-item form .row {
  margin-bottom: 1ex; }
