.create-new-item {
 .panel-heading {
   cursor: pointer;
   padding: 0;

   &:hover {
     background: #eaeaea;
   }
 }

  a {
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
  }

  form .row {
    margin-bottom: 1ex;
  }
}