.create-new-item {
 .panel-heading {
   cursor: pointer;
   padding: 0;

   &:hover {
     background: #e0e0e0;
   }
 }

  a {
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
  }
}