<div class="item-list">
    <div class="row">
        <item-list-new-item
                ng-if="listData.config.newItemForm"
                form-config="listData.config.newItemForm"></item-list-new-item>
    </div>
    <div class="row">
        <div class="item-list-filter" ng-if="listData.config.filter">
            <div class="panel-group">
                <div class="">
                   <filter-input config="listData.config.filter" data="listData.items"></filter-input>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <list-item-group></list-item-group>
    </div>
</div>